header {
  width: 100%;
  box-shadow: $color-shadow;
  position: fixed;
  top:0;
  z-index: 99;

  background-color: white;
}

.header--container {
  max-width: $max-width;
  height: 70px;
  overflow: hidden;
  margin: 0 auto;
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  transition: .3s linear;

  @include tablet {
    padding: 14px 40px;
  }
  @include mobile {
    padding: 14px 16px;
  }

  h1 {
    width: 200px;
    a {
      display: block;
      img {
        width: 100%;
      }
    }
  }

  // GNB 영역
  .gnb {
    flex-grow: 1;
    .depth01 {
      display: flex;
      justify-content: center;
      gap: 80px;

      @include tablet {
        gap: 3vw;
      }
      @include mobile {
        display: none;
      }

      >li > span {
        display: inline-block;
        cursor: pointer;
        margin : {
          top: 8px;
          bottom: 40px;
        }
        font : {
          weight : bold;
        }
      }
    }
    .depth02 {
      &>li {
        margin-bottom: 30px;
        cursor: pointer;
        span {
          display: inline-block;
          margin-bottom: 8px;
        }
      }
    }
    .depth03 {
      color :grey;
      font-size: 1.4rem;
    }
  }


  // 언어 영역
  .language {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 1.4rem;
    margin-top: 10px;

    @include mobile {
      display: none;
    }

    >li {
      padding: 0 5px;
      opacity: .6;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
      &:first-child {
        border: none;
      }
    }
  }
}

.header--container.show {
  height: 600px;
  @include mobile {
    height: 70px;
  }
}


// 모바일 서브메뉴
.submenu {
  top:0;
  right: 0;
  position: absolute;
  z-index: 9999;
  display: none;
  transition: .3s linear;

  @include mobile {
    display: block;
  }
  

  &-btn {
    width: 25px;
    height: 13px;
    position: absolute;
    top: 28px;
    right: 20px;
    z-index: 999;
    &::after,
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      right: 0;
      background-color: red;
    }
    &::after {
      bottom: 0;
    }
    &::before {
      top: 0;
    }
  }
  &-btn.on {
    &::after,
    &::before {
      background-color: $color-white;
    }
  }

  &--container {
    width: 100vw;
    height: 100vh;
    padding: 70px 16px 5%;
    background-color: $color-green;
    transition: .3s linear;
    position: absolute;
    right: -100vw;
    &.on {
      right: 0vw;
    }

    li {
      margin-bottom: 3vw;

      .title {
        width: 100%;
        display: flex;
        padding: 3% 0;
        color: $color-white;
        justify-content: flex-end;
        font-size: 3rem;
        .material-symbols-outlined {
          font-size: 5rem;
        }
      }

      .content {
        display: none;
        flex-direction: column;
        align-items: center;
        transition: .3s linear;
        overflow: hidden;
        
        a {
          display: block;
          width: 100%;
          padding: 4%;
          text-align: end;
          color: white;
          font-size: 2.5rem;
        }
      }

      &.on {
        margin-bottom: 30px;
        .title {
          font-weight: bold;
          opacity: 1;
        }
        .content {
          display: flex;
        }
      }

    }
  }
}
