
// INFO 영역
.info {
  background: {
    image: url('/seoulmilk/img/info-bg.png');
    size: 100%;
  };

  &--container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 220px 0 150px;


    @include tablet {
      padding : 150px 40px;
    }
    @include mobile {
      padding: 150px 16px;
    }

    h1 {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      color: $color-logo;
      transition: .7s linear !important;
      opacity: 0;

      font : {
        family: 'seoulmilk';
        size: 4rem;
        weight: bold;
      }

      img {
        width: 50px;
      }
    }

    .items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding : 100px 160px;

      @include tablet {
        padding: 100px 40px;
      }
      @include mobile {
        flex-direction: column;
        align-items: center;
        padding: 100px 0px;
      }
      .item {
        width: 40%;
        margin-bottom: 20vh;
        text-align: center;
        transition: .7s linear;
        transform: translate(-5vh, 10vh);
        opacity: 0;
        @include mobile {
          width: 100%;
          margin-bottom: 10vh;
          transform: translate(0vh, 10vh);
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        div {
          width: 100%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid #ccc;
          background-color: $color-white;
          margin-bottom: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 70%;
          }

          @include mobile {
            width: 70%;
          }
        }
        p {
          font-size: 2.1rem;
          strong {
            font-size: 2.8rem;
            color: $color-green;
          }
        }
      }
      .item:nth-child(2n) {
        transform: translate(10vh, 70vh);
        @include mobile {
          transform: translate(0,10vh);
        }
      }
      .item:last-child {
        margin-bottom: 0vh;
      }

      // animation
      [data-aos="fade-right"] {
        transition-property: transform, opacity;
        &.aos-animate {
          transform: translate(0vh, 40vh);
          opacity: 1;
          @include mobile {
            transform: translate(0,0vh);
          }
        }
      }
    }
  }
}


// PRODUCTS 영역
.products {
  background-color: $color-green;
  overflow: hidden;
  &--container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 120px 0;

    @include tablet {
      padding : 120px 40px;
    }
    @include mobile {
      padding: 70px 16px;
    }

    h1 {
      text-align: center;
      font-size: 3.5rem;
      margin-bottom: 80px;
      color: $color-white;
      @include mobile {
        margin-bottom: 60px;
      }
    }

    // 제품 슬라이드
    .swiper {
      width: 792px;
      max-width: $max-width;
      height: auto;
      margin: 0 auto 46px;
      overflow: inherit;

      @include tablet {
        width: 70vw;
      }
      @include mobile {
        width: 70vw;
      }

      .swiper-inner {
        width: 100%;
        overflow: hidden;
        @include tablet {
          height: 400px;
        }
        @include mobile {
          height: 430px;
        }

        //슬라이드 리스트
        .swiper-slide {
          display: flex;
          align-items: center;
          padding: 3% 5%;
          box-sizing: border-box;
          background-color: $color-white;
          border-radius: 30px;

          @include tablet {
            flex-direction: column;
            justify-content: center;
          }
          @include mobile {
            flex-direction: column;
            justify-content: center;
          }


          // 제품 사진
          .products-img {
            width: 50%;
            height: auto;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            @include tablet {
              width: 50%;
            }
            @include mobile {
              width: 70%;
            }
            img {
              width: 100%;
            }
          }
          // 제품 정보
          .products-info {
            width: 50%;
            padding: 3%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            @include tablet {
              width: 100%;
              text-align: center;
            }
            @include mobile {
              width: 100%;
              text-align: center;
            }
            .title {
              color: $color-green;
              font : {
                size: 2.8rem;
                weight: bold;
              }
            }
          }
        }
      }

      // 슬라이드 버튼
      .swiper-button-next,
      .swiper-button-prev {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $color-white;
        color: $color-green;
        &::after {
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2rem;
        }
        @include tablet {
          display: none;
        }
        @include mobile {
          display: none;
        }
      }
      .swiper-button-next {
        right: -80px;
      }
      .swiper-button-prev {
        left: -80px;
      }

      // 슬라이드 페이징
      .swiper-pagination {
        position: relative;
        // transform: translate(0, 10px);
        bottom: -10px;
      }
      .swiper-pagination-bullet-active {
        background-color: $color-white;
      }
    }


    // 더 많은 제품 보러가기
    .more {
      width: 175px;
      margin: 0 auto;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      border: 1px solid #fff;
      border-radius: 30px;
      transition: .2s linear;
      cursor: pointer;
      &:hover {
        background-color: $color-white;
        span {
          color: $color-green;
        }
      }
      span {
        font-size: 1.5rem;
        color: $color-white;
      }
      span.material-symbols-outlined {
        font-size: 24px;
      }
    }
  }
}


// NEWS 영역
.news {
  &--container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 150px 0;

    @include tablet {
      padding : 120px 40px;
    }
    @include mobile {
      padding: 70px 16px;
    }
    h1 {
      text-align: center;
      font-size: 3.5rem;
      margin-bottom: 80px;
      color: $color-green;
      @include mobile {
        margin-bottom: 60px;
      }
    }

    // 뉴스 컨텐츠
    .items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }


      // 뉴스 리스트
      .item {
        background-color: $color-green;
        cursor: pointer;
        border-radius: 20px;
        overflow: hidden;

        &:hover {
          .news-img img {
            transform: scale(1.1);
          }
        }
        // 뉴스 사진
        .news-img {
          height: 280px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          @include tablet {
            height: 200px;
          }
          @include mobile {
            height: 180px;
          }
          img {
            width: 100%;
            transition: .3s linear;
            @include tablet {
              width: 130%;
            }
          }
        }
      
        // 뉴스 정보
        .news-info {
          width: 100%;
          color: $color-white;
          padding: 20px;

          @include mobile {
            padding: 24px;
          }

          p {
            font-size: 1.6rem;
            @include tablet {
              font-size: 1.6rem;
            }
            @include mobile {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}



