// Noto Sans KR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// 서울우유 전용서체
@font-face {
  font-family: 'seoulmilk';
  src:url('/seoulmilk/fonts/SEOULMILK-500mL.ttf') format('truetype'),
      url('/seoulmilk/fonts/SEOULMILK-500mL.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'seoulmilk';
  src:url('/seoulmilk/fonts/SEOULMILK-1000mL.ttf') format('truetype'),
      url('/seoulmilk/fonts/SEOULMILK-1000mL.otf') format('opentype');
  font-weight: bold;
}


//icon-font
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
