
/* 검색창 */
.searchBox {
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
}

/* 스크롤 0일때 보이는 검색창 */
.searchBox_normal {
  width: 470px;
  margin: 0 auto;
  padding-top: 62px;
  display: block;
}
.searchBox_none {
  display: none;
}
.searchBox .search {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-black);
}


/* 검색창 css */
.searchBox .search .search_icon {
  width: 25px;
  height: 25px;
  margin: 5px;
  background-image: url(../img/btn_search01.svg);
  background-size: 100%;
}

.searchBox .search .search_input {
  flex-grow: 1;
  border: none;
  margin-left: 10px;
}
.searchBox .search .search_input:focus {
  outline: none;
}
.searchBox .search .search_btn {
  width: 45px;
  height: 35px;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  line-height: 40px;
  font-size: 1.4rem;
}

/* 추천키워드 */
.searchBox .keywordBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 1.4rem;
}

.searchBox .keywordBox .keyword_item {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.searchBox .keywordBox .keyword_item li {
  border: 1px solid var(--color-grey);
  border-radius: 20px;
  padding: 4px 10px;
  margin: 0 5px;
  color: var(--color-grey);
  transition: all .3s ease;
  cursor: pointer;
}


@media (hover: hover) {
  .searchBox .keywordBox .keyword_item li:hover {
    background-color: var(--color-grey);
    color: var(--color-white);
  }
}


@media screen and (max-width:768px) {
}

@media screen and (max-width:550px) {
  .searchBox_normal {
    width: 80vw;
  }
}



/* 고정되는 검색창 */
#searchBox_fix {
  display: none;
  z-index: 100;
}
.searchBox_fix_active {
  display: block;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0px;
  z-index: 100;
}

/* 고정될 검색창 */
.searchBox_fix {
  width: 100%;
  height: 70px;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-black);
  box-shadow: 0px 12px 20px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.searchBox_input {
  width: 370px;
  height: 50px;
  border: none;
  font-size: 1.5rem;
}

.searchBox_input:focus {
  outline: none;
}

.searchBox_icon::before {
  content: '';
  display: block;
  width: 1px;
  height: 24px;
  margin: 4px 0 0 -16px;
  position: absolute;
  background-color: var(--color-black);
  opacity: 20%;
}

.searchBox_icon {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url(../img/btn_search01.svg);
  background-size: 100%;
  cursor: pointer;
}



@media (max-width:768px) {
  .searchBox_fix {
    width: 100vw;
    padding: 0 40px;
    box-sizing: border-box;
    justify-content: space-around;
  }
  .searchBox_icon::before {
    display: none;
  }
  .searchBox_input {
    width: auto;
  }
}





/* 검색 결과 */

/* 전시회 */
.main_content {
  max-width: 1060px;
  margin: 80px auto 90px;
  padding: 0 40px;
}

.main_content .exh_content,
.main_content .event_content  {
  width:100%;
}

.main_content .exh_content {
  margin-bottom: 90px;
}


.main_content .exh_content .exh_tit,
.main_content .event_content .event_tit {
  font-size: 2rem;
  margin-bottom: 26px;
}

.main_content .exh_content .exh_list,
.main_content .event_content .event_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.main_content .search_list {
  transition: all .3s ease;
  box-shadow: var(--color-box-shadow);
  border-radius: 12px;
  overflow: hidden;
}


@media (hover: hover) {
  .main_content .search_list:hover {
    transform: scale(103%);
  }
}


/* 이미지  */
.main_content img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


/* 카테고리 */
.main_content .list_category {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--color-logo);
}
.main_content .event_list .list_category {
  padding: 10px;
  color: var(--color-brown);
}

.main_content .list_category li {
  margin-bottom: 8px;
}

.main_content .list_category .content_tit {
  color: var(--color-black);
}

.main_content .list_category .content_txt{
  color: var(--color-grey);
  line-height: 130%;
}






@media (max-width:768px) {
  .main_content .exh_content .exh_tit,
  .main_content .event_content .event_tit {
    margin-bottom: 40px;
  }

  .main_content .search_list {
    width: 100%;
  }
  .main_content .exh_content .exh_list,
  .main_content .event_content .event_list {
    gap: 12px;
  }

  .main_content img {
    width: 100%;
    height: 160px;
  }

  .main_content .list_category {
    padding: 8px;
  }

}





@media (max-width:550px) {
  .main_content {
    padding: 0 24px;
  }
  .main_content .exh_content .exh_list,
  .main_content .event_content .event_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .main_content img {
    width: 100%;
    height: 150px;
  }

}
