$color-black : #222;
$color-grey : #717171;
$color-white : #fff;
$color-logo : #dc000c;
$color-green :#20904f;
$color-border : #ccc;

$color-shadow :  0 0 6px rgba(0, 0, 0, .2);

$max-width: 1200px;

